* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Aptos";
    src: url("Aptos.ttf");
}

h1 {
    font-family: "Aptos";
    font-size: 64px;
    color: #000000;
    text-align: center;
}

.mainDiv {
    margin: 50px auto 50px auto;
    border: 1px solid #868686;
    border-radius: 10px;
    background-color: #ffebff;
    padding: 50px;
    width: 90%;
}